.button {
  .regular-upper-bold();
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @green;

  &--service-button {
    display: block;
    width: 280px;
    height: 40px;
    color: @light-black;
    background-color: @white-grey;
  }
}
