.button {
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
}

.button--service-button {
  display: block;

  width: 280px;
  height: 40px;

  color: @greyish-brown;
  background-color: @white-grey;
}
