.copyright {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 41px;
  text-decoration: none;
  color: @light-black;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover > .copyright__htmlacademy-logo {
    fill: @green;
  }

  &:active > .copyright__htmlacademy-logo {
    fill-opacity: 0.3;
  }
}

.copyright__span {
  display: block;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

.copyright__htmlacademy-logo {
  width: 34px;
  height: 40px;
  fill: #666666;
}

@media (min-width: @tablet-width) {
  .copyright {
    justify-content: flex-end;
    margin-bottom: 23px;
  }

  .copyright__span {
    margin-right: 17px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
}
