.example {
  background-color: @grey;
}

.example__title {
  .heading-big();
}

.example__results-list {
  list-style: none;
  padding: 0;
}

.example__description {
  font-family: "Arial", sans-serif;
}

.example__results-value {
  font-size: 24px;
  color: @black;
  text-transform: uppercase;
  line-height: 24px;
}

.example__results-property {
  font-size: 12px;
  line-height: 12px;
}

.example__nutrition-costs {
  font-size: 14px;
  color: @black;
  text-transform: uppercase;
}
