.example {
  width: 100%;
  background-color: @grey;
}

.example__title {
  .heading-big();
}

.example__results-list {
  display: flex;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.example__description {
  width: 266px;
  font-family: "Arial", sans-serif;
}

.example__results-item {
  position: relative;
}

.example__results-value {
  box-sizing: border-box;
  width: 124px;
  height: 56px;
  margin: 0;
  padding: 10px 10px 10px 20px;
  border: 1px solid @border-grey;
  font-size: 24px;
  color: @black;
  text-transform: uppercase;
  line-height: 24px;
}

.example__results-property {
  position: absolute;
  top: 50px;
  right: 16px;
  width: 80px;
  height: 26px;
  margin: 0;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: @grey;
}

.example__nutrition-costs {
  width: 190px;
  font-size: 14px;
  color: @black;
  text-transform: uppercase;
}
