.extra-item {
  width: auto;
  border-top: 1px solid #e6e6e6;
}

.extra-item__name {
  padding-top: 12px;
  margin-top: 0;
  .heading-small-bold();
  margin-bottom: 10px;
}

.extra-item__price,
.extra-item__quanity {
  margin: 0;
  .regular-medium();
  font-size: 14px;
}

.extra-item__price {
  text-transform: uppercase;
}

.extra-item__price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.extra-item__order-button {
  display: block;
  width: 280px;
  height: 40px;
  margin-bottom: 18px;
  padding: 10px 35px;
  padding-top: 12px;
  font-size: 16px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .extra-item {
    padding-top: 15px;

    &:first-child {
      border: 0;
    }
  }

  .extra-item__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .extra-item__price-wrapper {
    width: 247px;
    padding-top: 15px;
    margin-right: 20px;

    &--water {
      width: 257px;
      margin-right: 10px;
    }
  }

  .extra-item__quanity {
    width: 136px;
    text-align: right;
  }

  .extra-item__price {
    width: 60px;
    text-align: left;
  }

  .extra-item__name {
    max-width: 328px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 20px;
  }

  .extra-item__price,
  .extra-item__quanity {
    font-size: 16px;
    line-height: 20px;
  }

  .extra-item__order-button {
    width: 633px;
    height: 40px;
    margin-bottom: 27px;
    padding-right: 40px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .extra-item {
    display: flex;
    min-height: 72px;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin: 0;
  }

  .extra-item__wrapper {
    width: 629px;
    justify-content: space-between;
  }

  .extra-item__name {
    width: 245px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
  }

  .extra-item__price-wrapper {
    width: 304px;
    margin: 0;
    padding: 0;
    padding-top: 9px;
  }

  .extra-item__quanity {
    text-align: left;
  }

  .extra-item__order-button {
    width: 245px;
    margin: 0;
    padding-top: 11px;
    padding-right: 34px;
  }
}
