.intro {
  width: 100%;
  position: relative;
}

.intro--background-picture {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center;
  background-color: @background-green;
}

.intro__page-title {
  .heading-big();
  margin: 0;
  color: @white;
  line-height: 36px;
}

.intro__slogan {
  color: @white;
  line-height: 14px;
  text-transform: uppercase;
}

.intro__nutrition-selection {
  display: block;
  width: 280px;
  min-height: 40px;
}

@media (min-width: @tablet-width) {
  .intro {
    min-height: 950px;
  }

  .intro--background-picture {
    background-image: none;
    background-color: @white;
  }

  .intro__page-title {
    width: 600px;
    padding-top: 144px;
    padding-left: 120px;
    .heading-big();
    font-size: 60px;
    color: @black;
    line-height: 60px;
    text-transform: none;
  }

  .intro__slogan {
    width: 500px;
    padding-left: 120px;
    padding-top: 33px;
    font-size: 20px;
    color: @black;
    line-height: 20px;
    text-transform: uppercase;
  }

  .intro__nutrition-selection {
    position: relative;
    display: block;
    width: 245px;
    margin-left: 120px;
    min-height: 52px;
    z-index: 1;
  }

  .intro__can-picture {
    position: absolute;
    z-index: 0;

    display: block;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    position: relative;
    min-height: 696px;
  }

  .intro--background-picture {
    background: url("../img/index-background-mobile@1x.jpg") no-repeat 720px 0,
    linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(99,167,58,1) 50%);
    background-color: rgb(255,255,255);
  }

  .intro__can-picture {
    position: absolute;
    top: 50px;
    right: 250px;
    width: 552px;
    height: 499px;
  }
}
