.intro {
  position: relative;
  height: 481px;
}

.intro__background-picture {
  width: 100%;
  height: 305px;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat center;
  background-color: @background-green;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/index-background-mobile@2x.jpg") no-repeat center;
    background-size: contain;
    background-color: @background-green;
  }
}

.intro__page-title {
  .heading-big();
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
  color: @white;
  line-height: 36px;
  text-align: center;
}

.intro__slogan {
  margin-bottom: 28px;
  color: @white;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.intro__nutrition-selection {
  display: block;
  padding: 12px 43px 11px;
  width: 280px;
  min-height: 40px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .intro {
    min-height: 790px;
  }

  .intro__background-picture {
    background-image: none;
    background-color: @white;
  }

  .intro__page-title {
    width: 420px;
    margin: 0;
    padding-top: 0;
    margin-top: 20px;
    margin-left: 87px;
    .heading-big();
    font-size: 60px;
    color: @black;
    text-align: left;
    line-height: 60px;
    text-transform: none;
  }

  .intro__slogan {
    width: 285px;
    padding: 0;
    margin: 41px 0 48px 87px;
    font-size: 20px;
    color: @black;
    line-height: 20px;
    text-transform: uppercase;
  }

  .intro__nutrition-selection {
    position: relative;
    display: block;
    z-index: 1;
    width: 245px;
    min-height: 52px;
    padding: 16px 24px;
    padding-left: 18px;
    margin-left: 90px;
    font-size: 20px;
  }

  .intro__can-picture {
    position: absolute;
    top: 201px;
    z-index: 0;
    display: block;
    width: 709px;
    height: 609px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    position: relative;
  }

  .intro__background-picture {
    background: url("../img/index-background-desktop@1x.jpg") no-repeat left calc(50% + 360px) top 0, linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(99, 167, 58, 1) 50%);
    background-color: rgb(255, 255, 255);
    min-height: 696px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/index-background-desktop@2x.jpg") no-repeat left calc(50% + 360px) top 0, linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(99, 167, 58, 1) 50%);
      background-size: contain;
    }
  }

  .intro__page-title {
    width: 600px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 223px;
    padding-left: 80px;
  }

  .intro__wrapper {
    position: relative;
  }

  .intro__can-picture {
    position: absolute;
    top: 141px;
    right: 258px;
    width: 552px;
    height: 499px;
  }

  .intro__slogan {
    margin-top: 40px;
    margin-bottom: 54px;
    margin-left: 79px;
  }

  .intro__nutrition-selection {
    margin-left: 81px;
  }
}
