.nutrition-form {
  width: auto;
}

.nutrition-form__container-wrapper {
  .container-mobile();
}

.nutrition-form__cat-info {
  min-height: 186px;
  margin-bottom: 21px;
  border-bottom: 1px solid @border-grey;
}

.nutrition-form__decorative-line {
  width: 100%;
  height: 3px;
  background-color: @green;
  margin-bottom: 65px;

  &--comment {
    margin-bottom: 42px;
  }

  &--extra {
    margin-bottom: 48px;
  }
}

.nutrition-form__heading {
  width: 182px;
  .form-headings();
  background-color: @white;
  position: absolute;
  margin: 0;
  top: -10px;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: -448px;
    width: 448px;
    height: 3px;
    background-color: @white;
  }

  &--contacts {
    width: 201px;
    top: -14px;
  }

  &--comment {
    width: 142px;
    top: -14px;
  }

  &--extra {
    width: 164px;
    top: -14px;
  }
}

.nutrition-form__input-wrapper {
  display: flex;
  position: relative;
  width: 280px;
  min-height: 45px;
  .labels-bold();
  font-size: 16px;
}

.nutrition-form__label {
  display: flex;
  position: relative;
  align-items: center;
  width: 280px;
  margin-bottom: 14px;
  min-height: 45px;
  .labels-bold();
  font-size: 16px;

  &--email,
  &--phone {
    display: block;
    align-items: normal;
    width: auto;
    padding: 13px 0;
  }
}

.nutrition-form__control {
  &--input {
    .inputs-bold();
    flex-grow: 1;
    margin-left: 14px;
    padding-left: 13px;
    height: 45px;
    border: @input-border;
  }

  &--input:hover {
    border: @input-border-hover;
  }

  &--input:active {
    border: @input-border-active;
  }

  &--input:invalid {
    border: @input-border-invalid;
  }

  &--age-input,
  &--weight-input {
    margin-left: 15px;
    padding-top: 2px;
    padding-left: 16px;
  }

  &--email,
  &--phone {
    margin-left: 10px;
    padding-left: 15px;
  }

  &--textarea {
    .inputs-bold();
    width: 280px;
    padding-left: 14px;
    padding-top: 12px;
    min-height: 150px;
    border: 1px solid @border-grey;
  }

  &--email-icon,
  &--phone-icon {
    position: absolute;
    top: 16px;
    left: 247px;
  }

  &--phone-icon {
    top: 13px;
  }

  &--input:active + &--email-icon path,
  &--input:active + &--phone-icon path {
    fill: @green;
  }

  &--input:invalid + &--email-icon path,
  &--input:invalid + &--phone-icon path {
    fill: @icon-invalid;
  }
}

.nutrition-form__nutrition-goals {
  min-height: 137px;
  margin-bottom: 42px;
  border-bottom: @grey-block-underline;
}

.nutrition-form__label--radio {
  display: block;
  padding-top: 6px;
  padding-left: 45px;
  margin-bottom: -2px;
  position: relative;
  height: 30px;

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 30px;
    height: 30px;
    border: @radio-checkbox-border;
    border-radius: 20px;
    cursor: pointer;
  }

  &:hover::before {
    border: @radio-checkbox-hover;
  }

  &::after {
    position: absolute;
    left: 9px;
    top: 9px;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
  }
}

.nutrition-form__control--radio:checked + .nutrition-form__label--radio::after {
  background-color: @green;
}

.nutrition-form__control--radio:focus + .nutrition-form__label--radio::before {
  outline: thin dotted 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.nutrition-form__control--radio:disabled + .nutrition-form__label--radio,
.nutrition-form__control--radio:disabled + .nutrition-form__label--radio::before {
  background-image: none;
  opacity: 0.3;
  cursor: default;
}

.nutrition-form__owner-contacts {
  position: relative;
  min-height: 190px;
  margin-bottom: 24px;
}

.nutrition-form__owner-contacts-wrapper {
  margin-bottom: 28px;
}

.nutrition-form__comments {
  min-height: 210px;
  margin-bottom: 27px;
  position: relative;
}

.nutrition-form__extra-options {
  position: relative;
  min-height: 220px;
  margin-bottom: 107px;
}

.nutrition-form__extra-options-wrapper {
  margin-bottom: 29px;
}

.nutrition-form__label--checkbox {
  position: relative;
  display: block;
  width: 210px;
  min-height: 30px;
  margin-bottom: 12px;
  padding-left: 46px;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    top: -6px;
    left: 0;
    content: "";
    width: 30px;
    height: 30px;
    border: @radio-checkbox-border;
  }

  &:hover::before {
    border: @radio-checkbox-hover;
  }
}

.nutrition-form__control--checkbox:checked + .nutrition-form__label--checkbox::before {
  background: url("../img/icon-tick.svg") no-repeat center;
}

.nutrition-form__control--checkbox:focus + .nutrition-form__label--checkbox::before {
  outline: thin dotted 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.nutrition-form__control--checkbox:disabled + .nutrition-form__label--checkbox,
.nutrition-form__control--checkbox:disabled + .nutrition-form__label--checkbox::before {
  background-image: none;
  opacity: 0.3;
  cursor: default;
}

.nutrition-form__control--button {
  width: 280px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 9px;
  border: 0;
  font-size: 16px;
  line-height: 20px;
}

.nutrition-form__caption {
  width: 160px;
  margin: 0 auto;
  padding-left: 2px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: @light-black;
}

@media (min-width: @tablet-width) {
  .nutrition-form__cat-info {
    min-height: 200px;
    margin-bottom: 70px;
    border: 0;
  }

  .nutrition-form__container-wrapper {
    .container-tablet();
    padding: 0 70px;
  }

  .nutrition-form__container {
    padding: 0 70px;
  }

  .nutrition-form__decorative-line {
    width: 100%;
    height: 3px;
    background-color: @green;
    margin-bottom: 87px;

    &--extra {
      margin-bottom: 79px;
    }
  }

  .nutrition-form__heading {
    background-color: @white;
    position: absolute;
    margin: 0;
    top: -10px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 19px;
      left: -40px;
      width: 40px;
      height: 10px;
      background-color: @white;
    }

    &--contacts {
      width: 553px;
      top: -22px;
    }

    &--comment {
      width: 219px;
      top: -22px;
    }

    &--extra {
      width: 252px;
      top: -22px;
    }
  }

  .nutrition-form__input-wrapper {
    width: 632px;
    min-height: 42px;
  }

  .nutrition-form__label {
    width: 632px;
    min-height: 42px;
    font-size: 20px;
    margin-bottom: 20px;

    &--email,
    &--phone {
      width: auto;
      padding: 17px 0;
    }
  }

  .nutrition-form__control {
    &--input {
      font-size: 20px;
      height: 52px;
      margin-left: 17px;
      padding-left: 18px;
    }

    &--input:active {
      padding-left: 17px;
    }

    &--weight-input {
      margin-left: 22px;
    }

    &--email {
      margin-left: 20px;
      padding-left: 20px;
    }

    &--email:active {
      padding-left: 19px;
    }

    &--phone {
      margin-left: 14px;
      padding-left: 19px;
    }

    &--phone:active {
      padding-left: 18px;
    }

    &--email-icon,
    &--phone-icon {
      position: absolute;
      left: 595px;
      top: 19px;
    }

    &--phone-icon {
      top: 17px;
    }
  }

  .nutrition-form__container-wrapper--goals {
    width: 629px;
    padding: 3px 0 30px 29px;
    border: @grey-block-underline;
  }

  .nutrition-form__nutrition-goals {
    min-height: 196px;
    margin-bottom: 96px;
    border: 0;
  }

  .nutrition-form__label--radio {
    width: auto;
    height: 40px;
    padding: 10px 0 0 59px;
    margin-top: 20px;
    margin-bottom: -9px;

    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }

  .nutrition-form__owner-contacts-wrapper {
    padding: 0 70px;
    margin-bottom: 67px;
  }

  .nutrition-form__owner-contacts {
    margin-bottom: 88px;
  }

  .nutrition-form__comments {
    position: relative;
    margin-bottom: 84px;
  }

  .nutrition-form__control--textarea {
    width: 631px;
    height: 174px;
    padding-left: 18px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  .nutrition-form__extra-options {
    min-height: 205px;
    margin-bottom: 249px;
  }

  .nutrition-form__extra-options-wrapper {
    font-size: 20px;
    width: auto;
    margin-bottom: 13px;
    display: flex;
    flex-wrap: wrap;
  }

  .nutrition-form__label--checkbox {
    width: 210px;
    padding-left: 58px;
    margin-bottom: 29px;
    margin-right: 134px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &::before {
      top: -11px;
      width: 40px;
      height: 40px;
    }
  }

  .nutrition-form__button-wrapper {
    display: flex;
    align-items: center;
  }

  .nutrition-form__control--button {
    width: 283px;
    height: 52px;
    padding-left: 4px;
    font-size: 20px;
    line-height: 20px;
    border: 0;
  }

  .nutrition-form__caption {
    display: block;
    margin-left: 60px;
    width: 185px;
    height: 40px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .nutrition-form__wrapper {
    display: flex;
    .container-desktop();
  }

  .nutrition-form__container-wrapper {
    .container-reset();
  }

  .nutrition-form__decorative-line {
    width: 100%;
    height: 3px;
    background-color: @green;
    margin-bottom: 86px;

    &--extra {
      margin-bottom: 79px;
    }
  }

  .nutrition-form__heading {
    background-color: @white;
    position: absolute;
    margin: 0;
    top: -10px;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      left: -39px;
      width: 41px;
      height: 3px;
      background-color: @white;
    }

    &--comment,
    &--contacts {
      top: -22px;
    }

    &--comment {
      top: -22px;
    }

    &--extra {
      width: 252px;
      top: -22px;
    }
  }

  .nutrition-form__container {
    height: 40px;
    .container-desktop();
  }

  .nutrition-form__cat-info {
    min-width: 570px;
    margin-right: 80px;
  }

  .nutrition-form__container-wrapper--goals {
    width: 570px;
    padding: 5px 0 32px 27px;
    border: @grey-block-underline;
  }

  .nutrition-form__nutrition-goals {
    width: 570px;
    min-height: 196px;
    margin-bottom: 91px;
    border: 0;
  }

  .nutrition-form__label--radio {
    width: auto;
    height: 40px;
    padding: 10px 0 0 59px;
    margin-top: 20px;
    margin-bottom: -9px;
  }

  .nutrition-form__input-wrapper {
    width: 571px;

    &--email {
      margin-right: 78px;
    }
  }

  .nutrition-form__label {
    width: 571px;

    &--email,
    &--phone {
      width: auto;
    }
  }

  .nutrition-form__control {
    &--email {
      margin-left: 22px;
      padding-left: 18px;
    }

    &--phone {
      margin-left: 16px;
      padding-left: 18px;
    }

    &--email:active,
    &--phone:active {
      padding-left: 17px;
    }

    &--email-icon,
    &--phone-icon {
      position: absolute;
      left: 532px;
    }
  }

  .nutrition-form__control--label {
    width: 570px;
  }

  .nutrition-form__owner-contacts {
    margin-bottom: 40px;
  }

  .nutrition-form__owner-contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    .container-desktop();
    margin-bottom: 70px;
  }

  .nutrition-form__control--textarea {
    width: 100%;
    min-height: 175px;
    overflow: auto;
  }

  .nutrition-form__comments {
    margin-bottom: 89px;
  }

  .nutrition-form__label--checkbox {
    width: 210px;
    padding-left: 58px;
    margin-bottom: 29px;
    margin-right: 80px;

    &:nth-child(4n) {
      margin-right: 80px;
    }

    &:nth-child(8n) {
      margin-right: 0;
    }

    &:last-child &::before {
      top: -11px;
      width: 40px;
      height: 40px;
    }
  }

  .nutrition-form__extra-options-wrapper {
    width: auto;
    margin-bottom: 19px;
    display: flex;
    flex-direction: row;
  }

  .nutrition-form__extra-options {
    margin-bottom: 100px;
  }

  .nutrition-form__extra-options-wrapper > label {
    width: 245px;
  }

  .nutrition-form__control--button {
    width: 568px;
    padding-left: 10px;
  }

  .nutrition-form__caption {
    width: 245px;
    margin-left: 81px;
  }
}
