.nutrition-form {
  width: auto;
}

.nutrition-form__cat-info {
  min-height: 186px;
}

.nutrition-form__label {
  display: block;
  min-height: 45px;
}

.nutrition-form__nutrition-goals {
  min-height: 158px;
}

.nutrition-form__label--radio {
  display: block;
  height: 30px;
}

.nutrition-form__owner-contacts {
  min-height: 190px;
}

.nutrition-form__comments {
  min-height: 210px;
}

.nutrition-form__control--textarea {
  width: 280px;
  min-height: 150px;
}

.nutrition-form__heading {
  min-width: 179px;
}

.nutrition-form__extra-options {
  min-height: 220px;
}

.nutrition-form__control--button {
  width: 280px;
  height: 40px;
  border: 0;
}

.nutrition-form__caption {
  width: 156px;
}

@media (min-width: @tablet-width) {
  .nutrition-form__cat-info {
    min-height: 200px;
  }

  .nutrition-form__label {
    min-height: 45px;
  }

  .nutrition-form__nutrition-goals {
    min-height: 196px;
  }

  .nutrition-form__label--radio {
    height: 40px;
  }

  .nutrition-form__owner-contacts {
    min-height: 253px;
  }

  .nutrition-form__comments {
    min-height: 285px;
  }

  .nutrition-form__control--textarea {
    width: 631px;
    min-height: 174px;
  }

  .nutrition-form__heading {
    min-width: 179px;
  }

  .nutrition-form__extra-options {
    min-height: 205px;
  }

  .nutrition-form__control--button {
    width: 283px;
    height: 52px;
    border: 0;
  }

  .nutrition-form__label--checkbox {
    width: 210px;
  }

  .nutrition-form__extra-option-wrapper {
    font-size: 20px;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
  }

  .nutrition-form__caption {
    display: inline-block;
    width: 178px;
  }
}

@media (min-width: @desktop-width) {
  .nutrition-form__wrapper {
    display: flex;
  }

  .nutrition-form__cat-info {
    min-width: 570px;
  }

  .nutrition-form__control--label {
    width: 570px;
  }

  .nutrition-form__nutrition-goals {
    width: 570px;
  }

  .nutrition-form__owner-contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .nutrition-form__control--textarea {
    width: 100%;
    min-height: 175px;
  }

  .nutrition-form__extra-options-wrapper {
    display: flex;
    flex-direction: row;
  }

  .nutrition-form__extra-options-wrapper > label {
    width: 245px;
  }

  .nutrition-form__button {
    display: inline-block;
    width: 568px;
  }

  .nutrition-form__caption {
    display: inline-block;
    width: 245px;
  }
}
