.nutrition-selection__heading {
  min-width: 255px;
  .heading-big();
}

.nutrition-selection__text {
  min-width: 226px;
  margin-bottom: 40px;
}


@media (min-width: @tablet-width) {
  .nutrition-selection__heading {
    min-width: 426px;
  }

  .nutrition-selection__text {
    min-width: 322px;
    margin-bottom: 69px;
  }
}
