.page-header__logo {
  display: block;
  width: 280px;
  min-height: 65px;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    min-width: 710px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-width: 1220px;
  }
}
