.page-footer {
  width: 100%;
  min-height: 242px;
  margin: 0;
  background-color: @white-grey;
}

.page-footer__social-icons {
  position: relative;
}
/*  &::before,
  &::after {
    .block-separator-short();
  }*/
/*  &::before {
    bottom: 30px;
  }

  &::after{
    top: 30px
  }
}*/

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    min-height: 150px;
  }
}
