.page-footer {
  width: 100%;
  min-height: 242px;
  padding-top: 10px;
  margin: 0;
  background-color: @white-grey;
}

.page-footer__wrapper {
  min-height: 236px;
}

.page-footer__logo {
  position: relative;
  display: block;
  width: 280px;
  height: 63px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 42px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-icons {
  position: relative;

  &::after,
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;
  }

  &::before {
    top: -21px;
    left: 0;
  }

  &::after {
    top: 42px;
    left: 0;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-height: auto;
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;
    min-height: 150px;
  }

  .page-footer__logo {
    display: block;
    width: 128px;
    height: 45px;
    margin: 0;
    padding: 0 0 21px;
    margin-right: 84px;
  }

  .page-footer__social-icons {
    position: relative;

    &::after,
    &::before {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-height: 150px;
    padding-top: 0;
  }

  .page-footer__wrapper {
    padding: 40px 40px;
  }

  .page-footer__logo {
    padding: 0;
    margin-right: 340px;
  }
}
