.promo-offer {
  width: 280px;
  height: 289px;
  background: url('../img/gift-photo-mobile@1x.jpg') no-repeat;
}

@media (min-width: @tablet-width) {
  .promo-offer {
    width: 708px;
    height: 200px;
    background: url('../img/gift-photo-tablet@1x.jpg') no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .promo-offer {
    width: 245px;
    height: 289px;
    background: url('../img/gift-photo-desktop@1x.jpg') no-repeat;
  }
}
