.show-more__heading-text {
  .heading-small();
  line-height: 20px;
}

.show-more__regular-text {
  .regular-small();
  line-height: 16px;
}

.button--service-button {
  color: @greyish-brown;
  background-color: @white-grey;
}
