.show-more {
  margin-bottom: 38px;
  height: 210px;
  padding-top: 64px;
  text-align: center;
}

.show-more__heading-text {
  position: relative;
  margin-bottom: 8px;
  .heading-small();
  line-height: 20px;

  &::before {
    position: absolute;
    left: 124px;
    bottom: 42px;
    display: block;
    content: "";
    width: 31px;
    height: 31px;
    background: url("../img/icon-plus-mobile.svg") no-repeat;
  }
}

.show-more__regular-text {
  margin: 0 0 22px;
  .regular-small();
  line-height: 16px;
}

.show-more__button {
  padding-top: 10px;
  font-size: 16px;
}

@media (min-width: @tablet-width) {
  .show-more {
    width: 324px;
    padding-top: 146px;
    height: 431px;
    border: @grey-block-underline;
  }

  .show-more__heading-text {
    width: 211px;
    padding-left: 54px;
    margin-bottom: 27px;
    text-align: center;
    font-size: 20px;

    &::before {
      left: 102px;
      bottom: 89px;
      width: 61px;
      height: 61px;
      background: url("../img/icon-plus.svg") no-repeat;
    }
  }

  .show-more__regular-text {
    width: 241px;
    padding-left: 21px;
    margin-bottom: 90px;
    font-size: 16px;
  }

  .show-more__button {
    margin-left: 7px;
    font-size: 16px;
    width: 249px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .show-more {
    width: 245px;
    padding: 146px 10px 0 30px;
  }

  .show-more__heading-text {
    width: 163px;
    padding-left: 21px;

    &::before {
      left: 62px;
      bottom: 89px;
    }
  }

  .show-more__regular-text {
    width: 179px;
    padding-left: 4px;
  }

  .show-more__button {
    width: 169px;
    height: 40px;
  }
}
