.slider__cat-picture {
  display: block;
  width: 320px;
  height: 240px;
  margin-bottom: 29px;

  &--after {
    display: none;
  }
}

.slider__controls {
  display: flex;
  align-items: center;
  padding-left: 63px;
  padding-bottom: 32px;
}

.slider__toggle {
  position: relative;
  width: 85px;
  height: 13px;
  margin: 0 18px;
  border: 1px solid @border-grey;
  border-radius: 8px;
  cursor: pointer;
  background-color: @white;

  &::after {
    position: absolute;
    top: 3px;
    left: 6px;
    width: 35px;
    height: 6px;
    content: "";
    border-radius: 8px;
    background-color: @green;
  }
}

.slider__button {
  padding: 0;
  border: 0;
  background: none;
  .heading-small();
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .slider {
    background: linear-gradient(180deg, #ffffff 26%, #f2f2f2 26%);
    background-color: rgb(255, 255, 255);
  }

  .slider__cat-picture-wrapper {
    display: flex;
  }

  .slider__cat-picture {
    position: relative;
    height: 512px;
    margin: 0 auto 0 16px;
    object-fit: cover;

    &--before {
      width: 338px;
      z-index: 1;
      display: block;
      object-position: 3px -1px;
      font-family: "object-fit: cover; object-position: 3px -1px;", sans-serif;
    }

    &--after {
      z-index: 2;
      display: block;
      margin-left: 0;
      object-position: -334px -2px;
      font-family: "object-fit: cover; object-position: -334px -2px;", sans-serif;
    }
  }

  .slider__controls {
    width: 708px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 68px;

    &::after {
      position: absolute;
      z-index: -1;
      display: block;
      top: 29px;
      left: 139px;
      content: "";
      width: 428px;
      height: 6px;
      border-radius: 2.5px;
      background-color: @slider-grey;
    }
  }

  .slider__toggle {
    order: 2;
    position: absolute;
    z-index: 1;
    top: 14px;
    left: 319px;
    width: 34px;
    height: 34px;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: solid 2px @green;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &:active::after {
      top: 11px;
      left: 11px;
    }

    &::after {
      z-index: -1;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      border-radius: 20px;
    }

    &--before-position {
      left: 109px;
    }

    &--after-position {
      left: 532px;
    }
  }

  .slider__button {
    padding: 0 0 7px;
    border: 0;
    background: none;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted @border-grey;

    &:hover {
      border-bottom: 1px solid @border-grey;
    }

    &:active {
      border-bottom: none;
      padding-bottom: 8px;
    }

    &--after-button {
      order: 10;
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    background: linear-gradient(180deg, #ffffff 28.5%, #f2f2f2 28.5%);
    background-color: rgb(255, 255, 255);

    &::after {
      top: 185px;
    }
  }

  .slider__cat-picture-wrapper {
    position: relative;
    z-index: 12;
    height: 650px;
    background: linear-gradient(180deg, #ffffff 28.5%, rgba(0, 0, 0, 0) 28.5%), linear-gradient(90deg, #f2f2f2 56.4%, #eaeaea 50%);
    background-color: rgb(255, 255, 255);
  }

  .slider__cat-picture {
    height: 564px;
    padding-bottom: 50px;

    &--before {
      width: 365px;
      z-index: 10;
      display: block;
      margin-left: 53px;
      object-position: 3px -1px;
      font-family: "object-fit: cover; object-position: 3px -1px;", sans-serif;
    }

    &--after {
      object-position: -362px -2px;
      font-family: "object-fit: cover; object-position: -362px -2px;", sans-serif;
    }
  }

  .slider__toggle {
    top: -7px;
    left: 384px;

    &--before-position {
      top: -7px;
      left: 173px;
    }
  }

  .slider__controls {
    z-index: 13;
    position: absolute;
    top: 564px;
    width: 739px;
    padding: 0 36px 0 134px;
    margin-top: -9px;

    &::after {
      top: 8px;
      left: 204px;
    }
  }
}
