.social-icons {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  min-height: 45px;
  padding-left: 70px;
  padding-right: 70px;
  list-style: none;
}

.social-icons__item {
  &:nth-child(3n) {
    margin-right: 0;
  }
}

.social-icons__item,
.social-icons__link {
  display: block;
  width: 30px;
  height: 24px;
  margin-right: 25px;

  &--vk {
    margin-right: 27px;
  }

  &--insta {
    width: 28px;
    margin-right: 27px;
  }

  &--fb {
    width: 20px;
  }
}

.social-icons__link {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--vk {
    padding: 3px 4px;
  }

  &--insta {
    padding: 3px 5px;
  }

  &--fb {
    padding: 2px 5px;
  }
}

.social-icons__link:hover > .social-icons__icon {
  fill: @green;
}

.social-icons__link:active > .social-icons__icon {
  fill-opacity: 0.3;
}

.social-icons__icon {
  fill: #666666;
}

@media (min-width: @tablet-width) {
  .social-icons {
    margin-top: 15px;
    padding: 0;
    border: none;
  }

  .social-icons__item {
    &:nth-child(3n) {
      margin-right: 25px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .social-icons__item,
  .social-icons__link {
    display: block;
    width: 35px;
    height: 30px;
    margin-right: 25px;

    &--insta {
      margin-right: 17px;
    }

    &--fb {
      width: 20px;
    }
  }

  .social-icons__item--fb {
    margin-top: -1px;
  }

  .social-icons__link {
    &--insta {
      padding: 0;
    }

    &--vk {
      padding: 4px 2px;
    }

    &--fb {
      padding: 0;
    }
  }

  .social-icons__icon {
    &--vk-icon {
      width: 30px;
      height: 16px;
    }

    &--instagram-icon {
      width: 23px;
      height: 23px;
    }

    &--facebook-icon {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: @desktop-width) {
  .social-icons {
    margin-top: 0;
    margin-right: 199px;
    padding: 19px 0 0;
  }
}
