.container-reset() {
  width: auto;
  margin: 0;
  padding: 0;
}

.container-mobile() {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-tablet() {
  width: 768px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-desktop() {
  width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
}

.heading-big() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: @black;
  font-weight: 400;
  line-height: 60px;
}

.heading-small() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;
}

.heading-small-bold() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: @black-bold;
  text-transform: uppercase;
  text-decoration: none;
}

.form-headings() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: @black;
  text-decoration: none;
}

.regular-upper-bold() {
  font-family: "Oswald", "Arial", sans-serif;
  color: @black;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.labels-bold() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  color: @black;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.inputs-bold() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @light-black;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.regular-small() {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: @light-black;
}

.regular-medium() {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: @light-black;
}

.regular-white() {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: @white;
  line-height: 20px;
}

.block-separator-short() {
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: @border-grey;
}

.block-separator-long() {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: @border-grey;
}

.visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
