.heading() {
  font-size: 36px;
  color: @black;
  font-weight: 400;
  line-height: 60px;
}

.heading-small() {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;
}

.regular-small() {
  font-size: 12px;
  font-family: "Arial", sans-serif;
  color: @greyish-brown;
}
