@black: #111111;
@black-bold: #222222;
@green: #68b738;
@grey: #f2f2f2;
@light-black: #444444;
@white-grey: #f2f2f2;
@white: #ffffff;
@border-grey: #cdcdcd;
@background-green: #63a73a;

@grey-block-underline: 1px solid @border-grey;

@tablet-width: 768px;
@desktop-width: 1300px;
