@black: #111111;
@black-bold: #222222;
@green: #68b738;
@grey: #f2f2f2;
@light-black: #444444;
@white-grey: #f2f2f2;
@white: #ffffff;
@border-grey: #cdcdcd;
@header-border: #e6e6e6;
@background-green: #63a73a;
@green-pressed: #5eaa2f;

@grey-block-underline: 1px solid @border-grey;

@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1300px;
